<form class="form-width" autocomplete="off">
 <app-input [type]='nameFieldInputType' [id]='nameFieldInputId' [placeholder]='nameFieldInputPlaceHolder' [title]='nameFieldInputTitle' ></app-input>
 <app-input [type]='emailFieldInputType' [id]='emailFieldInputId' [placeholder]='emailFieldInputPlaceHolder' [title]='emailFieldInputTitle'></app-input>
 <app-input [type]='mobFieldInputType' [id]='mobFieldInputId' [placeholder]='mobFieldInputPlaceHolder' [title]='mobFieldInputTitle'></app-input>
 <app-input [type]='passwordFieldInputType' [id]='passwordFieldInputId' [placeholder]='passwordFieldInputPlaceHolder' [title]='passwordFieldInputTitle'></app-input>
</form>
 
